.side-bar-menu {
  margin: 5px;
  border-radius: 20px;
  background: #fafafa ;
  box-shadow: 1px 1px 5px #bfbfbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 85px;
  position: fixed;
  height: calc(100% - 95px);
  gap: 1rem;
  z-index: 999;
}

.side-bar-menu li {
  font-size: 1.5rem;
}
[nz-menu] {
  width: 150px;
}
