* {
  box-sizing: border-box;
}

.mainframe {
  position: fixed;
  top: 90px;
  left: 160px;
  width: calc(100vw - 170px);
  height: calc(100vh - 95px);
  padding: 20px;
  margin: 5px;

  background: #fafafa;
  border-radius: 20px;
  box-shadow: -1px -1px 5px #bfbfbf;
}
