.topBar {

  margin: 5px;
  display: flex;
  flex-direction: row;
  width: calc(100% - 10px);
  height: 80px;
  background: #fafafa;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #bfbfbf;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
